/* Custom css for admin layout */
@font-face {
  font-family: 'SharpSans';
  src: url('../fonts/SharpSans/SharpSans-Medium.woff') format('woff'),
  url('../fonts/SharpSans/SharpSans-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SharpSans';
  src: url('../fonts/SharpSans/SharpSans-Bold.woff') format('woff'),
  url('../fonts/SharpSans/SharpSans-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SharpSans';
  src: url('../fonts/SharpSans/SharpSansDispNo1-Bold.woff') format('woff'),
  url('../fonts/SharpSans/SharpSansDispNo1-Bold.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

*{
  font-family: SharpSans,Arial,sans-serif;
}

.text-white{color:#FFFFFF;}
a.text-white:hover,a.text-white:focus,a.text-white:active{color:#FFFFFF;}
.m-0{margin:0;}
.form-horizontal .control-label{text-align: left;}
.form-sub-title{text-align: center;
max-width: 320px;
margin: 0 auto;
float: none;
padding: 5px;
border-bottom: 1px solid;}
/*Assign Loader Start */
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: #39559f;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 5px;
    height: 25px;
  }
  50%, 100% {
    top: 10px;
    height: 10px;
  }
}
/*Assign Loader End*/

/* Dashboard Spinner */
.dashboard-spinner {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #39559f;
  background: -moz-linear-gradient(left, #39559f 10%, rgba(29,34,222, 0) 42%);
  background: -webkit-linear-gradient(left, #39559f 10%, rgba(29,34,222, 0) 42%);
  background: -o-linear-gradient(left, #39559f 10%, rgba(29,34,222, 0) 42%);
  background: -ms-linear-gradient(left, #39559f 10%, rgba(29,34,222, 0) 42%);
  background: linear-gradient(to right, #39559f 10%, rgba(29,34,222, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.dashboard-spinner:before {
  width: 50%;
  height: 50%;
  background: #39559f;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.dashboard-spinner:after {
  background: #ecf0f5;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* Dashboard Spinner */


@media(max-width: 400px){
  .btn-sm{padding:5px 4px !important; }
}
.dropdown-menu > li > a > .fa{min-width: 16px; }
#totop{background: #39559f;}
.d-none{display: none;}
.table{max-width: 100%; overflow-x: auto; background-color: #FFF; padding: 15px; }
.lead-view,h2 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 15px;
}

.lead-view td, .lead-view th {
	border: 1px solid #ddd;
	padding: 8px;
}
.lead-view tr:nth-child(even){background-color: #f2f2f2;}
.lead-view tr:hover {background-color: #ddd;}
.lead-view th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #007bff;
	color: white;
}
.lead-view th span{font-weight: normal;}
.lead-view tr.bg-red{background-color: #dc3545;}
.lead-view tr.bg-red td{color: #FFF;}
.lead-view td.bg-green{color: #fff; background-color: #28a745;}
.lead-view td.bg-red{color: #fff; background-color: #dc3545;}
.mb-10{margin-bottom: 10px;}
.mr-1{margin-right: 1em; }
.grid-refresh{display: none;}
.custom-grid-refresh{display: block;}
.alert-success.light-bg {
	color: #3c763d !important;
	background-color: #dff0d8 !important;
	border-color: #d6e9c6;
}	
.alert-danger.light-bg {
	color: #a94442 !important;
	background-color: #f2dede !important;
	border-color: #ebccd1;
}
.p-10{padding: 10px;}
.comment-wrapper .media-list .media img {
	width:64px;
	height:64px;
	border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
	padding-bottom: 10px;
	border-bottom:1px dashed #efefef;
	margin-bottom:25px;
}

.bg-white{background: #FFFFFF;}
.skin-black-light .main-header li.user-header{background: #fefefe;}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p{color: rgba(0,0,0,0.8);}
.btn.btn-default,.btn.btn-primary,.btn.btn-dropbox,.btn.btn-twitter,.btn.btn-info,.btn.btn-instagram{background: #39559f !important;color: #FFFFFF !important; border-color: #344E77 !important; }
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{background-color: #39559f;border-color: #39559f;}
.box.box-info,.box.box-primary{border-top-color:#39559f; }
.layout-top-nav .main-header > .navbar{padding: 5px;}

.skin-black-light .main-header > .navbar .navbar-custom-menu .navbar-nav > li > a, .skin-black-light .main-header > .navbar .navbar-right > li > a{border:none;}
.select-all-checkbox.pull-left{position: absolute;left:8px;top:8px; display: none;opacity: 0; visibility: hidden;}
input[type="checkbox"].grid-select-all {opacity: 0;display: none;}
/*.btn-group {margin-right: 0 !important;}*/
/*.box-header .btn.btn-sm.btn-success {float: left;margin-right: 0.5rem;}*/
#app > .content-header > h1 > small {display: none;}


#payout_amount {text-align: left !important;}
.input-group-addon {min-width: 43px;}

.role-purple .label.label-success{background:#660066 !important;}
.role-orange .label.label-success{background:#CC6600 !important;}
.role-blue .label.label-success{background:#0000CC !important;}
.role-red .label.label-success {background: #d93025 !important;}
label.asterisk.control-label::after {content: "*";color: #d73925;margin-left: 5px;}

.admin-box{border-color:#660066 !important;}
.admin-box .box-header{background:#660066 !important;  color: #FFF !important;}

.manager-box{border-color:#CC6600 !important;}
.manager-box .box-header{background:#CC6600 !important; color: #FFF !important;}

.border-manager{border: 1px solid #CC6600 !important;}

.associate-box{border-color:#00a65a !important;}
.associate-box .box-header{background:#00a65a !important;}

.director-box{border-color:#d93025 !important;}
.director-box .box-header{background:#d93025 !important;}

.pt-1{padding-top: 1rem;}
.pb-1{padding-bottom: 1rem;}
.bg-admin{background: #660066 !important; color: #fff;}
.bg-director{background: #d93025 !important; color: #fff;}
.bg-manager{background: #CC6600 !important;color: #fff;}
.bg-associate{background: #00a65a !important; color: #fff;}
.bg-vendor{background: #0000CC !important; color: #fff;}
.widget-user-2 .widget-user-image > img{width: 65px;height: 65px;}
.total-lead-details{display: none;}
.associate-box .total-lead-details {display: block;}


@media(max-width: 768px){
  .main-header .logo{width: auto; float: left;}
}

@media(min-width: 850px){
  .vehicle-last-update{position: absolute;left: 10px;top: 10px;}
}

@media(max-width: 849px){
  .vehicle-last-update{  position: absolute;right: 10px;top: -45px;width: 70%;text-align:right;}
}

