  html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }
  .navbar.bg-light{background: #fff !important;box-shadow: 0 0 3px 0px #ccc;}
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
  }
  body > section {
    padding: 60px 15px 0;
  }

  .lead-form{background-color:#efefef; background-image: url('../img/overlay.svg'); background-size: cover; }
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  code {
    font-size: 80%;
  }
  .btn,input[type='text']{border-radius: 0;}
  .choices > label ,.months > label {
    /*padding-top: 15px;
    padding-bottom: 15px;*/
    padding-top: 5px;
    padding-bottom: 5px;    
    /*background: #fff; */
    cursor: pointer;
    font-size: 22px;
    margin-bottom: 30px;
    line-height: unset;
  }
  .choices > label.bg-warning,.months > label.bg-warning{color: #fff;}
  .choices > label > i.fa,.months > label > i.fa{display: none;float: right;padding-top: 3px;}
  /*.choices > label.bg-warning > i.fa,.months > label.bg-warning > i.fa{display: block;}*/

  .pr-15{padding-right: 15px;}
  .pl-15{padding-left: 15px;}
  .has-error .form-control {
    border-color: #dc3545;
  }

  .ui-datepicker-inline{max-width: 280px;background:#fff;border: none !important;padding: 0; }
  .ui-state-default {text-align: center !important;background: #fff !important;}
  .ui-widget-header {display: none;}
  .ui-datepicker-calendar thead{display: none;}

label.error{color: #dc3545;}
.choices > label.error{border-color: #dc3545 !important;}
h3.font-weight-bold {
    margin-bottom: 35px;
}
.model-search{margin-bottom: 0 !important;}
@media(max-width: 480px){
  
  h3,h4,h3.font-weight-bold > .h4{
    font-size: 20px;
  }
}
@media (max-width: 768px) {
    .btn {
        width:100%;
        margin-bottom: 10px;
    }
}

@media(max-width: 420px){
    select.form-control-lg{padding-left: 0; padding-right: 0;}
}

@media(max-width: 767px){
  .form-group.choices.row {margin-top: 20px;}

  #zipcode-container .h3.mb-3{font-size: 22px;}
  h3.font-weight-bold {margin-bottom: 15px;}
  .choices > label, .months > label{margin-bottom: 10px; text-align: center;font-size: 18px;}
  label + div.col-12{margin-top:20px;}
}
@media(min-width: 1023px){
  .lead-form{min-height: 300px;}
}
